*{
    font-family: 'Montserrat', 'Stardom';
}

html, body{
    overflow-x: hidden;
}
.text-orange{
    color: #DE744C;
}



/*Nav*/
.bg-principal, .membresias, .experience{
    background-color: #BFD8D2;
}

.nav-link{
    color: #141414;
}

.nav-link:hover, .nav-link:focus{
    color: #DE744C;
}

.nav-link:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}


/*Main */
/*Misión*/

.fondo-imagen{
    /* background-image: url('../assets/img/imagen-mision.jpg'); */
    background-size: cover; /*cubre todo el espacio*/
    background-position: center; 
    background-repeat: no-repeat; /*para que no se repita la imagen cuando la imagen es muy chica*/
    background-attachment: fixed;
    z-index: -2;
    min-height: 300px;
    height: 625px;

}

.mision,.experience {
    position: relative; /* Necesario para el overlay */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);/* Overlay oscuro*/
    z-index: -1; /*Para que esté debajo del contenido */
}

.position-relative {
    z-index: 2; /* Contenido en primer plano */
}


.text-white{
    color: #F9F9F9;

}

.text-black{
    color: #141414;
}

/*Membresías*/

.membresias, .salas{
    opacity: 0;
  transform: translateY(50px);  /* Mueve la sección hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.membresias:hover, .salas:hover{
    opacity: 1;
}

.visible {
    opacity: 1;
    transform: translateY(0);
  }

.card-body{
    height: 350px;
}

.card-gold, .card-silver, .card-bronze {
    border-radius: 20px;
    overflow: hidden; /* Para que el contenido no desborde */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suavidad en hover */
    position: relative; /* Necesario para el efecto del borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    /* Para que el contenido no desborde */
}

.card-gold:hover{
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 0 25px #d9bd75;
}

.card-silver:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #99c2b8;
}

.card-bronze:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #d28264;
}

.bg-button{
    background-color: #DE744C!important;
}

.bg-button:hover{
    background-color: #DEB13C!important;
}

.sala, .ubicacion{
    background-color: #e8f3f1 ;
}

/* carrousel*/

.carousel-item {
    position: relative;
  }
  
  .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .carousel-caption {
    position: absolute;
    z-index: 2;
  }

.fondo-imagen-candy {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url('../assets/img/candy.jpg');
    background-size: cover; /* Cubre todo el área del contenedor */
    background-position: center;
    background-repeat: no-repeat; /* Evita que se repita */
    min-height: 100vh; /* Asegura que cubra la altura completa de la ventana */
    display: flex; /* Para alinear contenido */
    align-items: center; /* Centra contenido verticalmente */
    justify-content: center; /* Centra contenido horizontalmente */
    padding: 20px; /* Opcional: Espaciado interno */
}
.card-yellow {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card-yellow:hover {
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.7); /* Brillo naranja */
    transform: scale(1.05); /* Escalado suave */
}

.card-usuario{
    height: 300px;
    border-radius: 10px;
}

@media screen and (max-width: 576px){
    .fondo-imagen{
        background-position: 40%; 
    }

    .ubicacion{
        .text-start{
            text-align: center !important;
        }
    }
    .mapa{
        width: 60vw !important;
        height: 30vh;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .card-usuario{
        height: 400px;

    }
    

    
}

@media screen and (max-width: 768px){
    .fondo-imagen{
        background-position: 35%; 
    }

    .mapa{
        width: 85vw !important;
        height: 40vh;
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
    }

    .info{
        h1{
            font-size: 150%;
        }
        h5, p{
            font-size: 100%;
        }
    }


    /* Formulario suscripción */
    .auto-expand {
        min-height: 100px; /* Inicial fixed height */
        max-height: 300px; /* Optional: prevent infinite growth */
        resize: none; /* Prevent manual resizing */
    }
}




